@tailwind base;
@tailwind components;
@tailwind utilities;

.input-style {
  border-radius: 5.062px;
  border: 1px solid #000;
  background: #fff;
  display: flex;
  height: 35px;
  padding: 10px;
  width: 500px;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
}

.btn {
  border-radius: 20px;
display: flex;
padding: 5px 16px;
justify-content: center;
align-items: center;
gap: 10px;
border: 1px solid black;
}

.btn:hover {
background: #000;
color: white;
}